[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Conway's Game of Life
[access "refs/*"]
	owner = group user/Sameer Kolhar (kolharsam)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sameer Kolhar (kolharsam)
	label-Verified = -1..+1 group user/Sameer Kolhar (kolharsam)
	push = group user/Sameer Kolhar (kolharsam)
	read = group user/Sameer Kolhar (kolharsam)
	rebase = group user/Sameer Kolhar (kolharsam)
	removeReviewer = group user/Sameer Kolhar (kolharsam)
	submit = group user/Sameer Kolhar (kolharsam)
[access "refs/heads/*"]
	create = group user/Sameer Kolhar (kolharsam)
	push = +force group user/Sameer Kolhar (kolharsam)
	pushMerge = group user/Sameer Kolhar (kolharsam)
	read = group user/Sameer Kolhar (kolharsam)
[access "refs/tags/*"]
	push = group user/Sameer Kolhar (kolharsam)
	push = +force group user/Sameer Kolhar (kolharsam)
